<!-- template to display random article preview -->
{% verbatim %}
<template id=article-random-preview-template>

    <h4 class="article-published-date">
        <small>{{ article.published_at | formatDate }}</small> |
        <span class="text-primary">{{ article.author }}</span>
    </h4>
    <!-- <img src="{{ article.hero_image }}" class="img-responsive center-block article-preview"> -->
    <div v-bind:style="{ backgroundImage: 'url(' + article.hero_image + ')' }" class="article-header-img">
        <h1 class="article-preview-title article-title">{{ article.title }}
        <!-- <a href="/#/{{ article.slug }}" class="btn btn-primary btn-lg" role="button">Read more &raquo;</a> -->
        <a v-link="{ path: '/' + article.slug }" class="btn btn-primary btn-lg" role="button">Read more &raquo;</a>
        </h1>
    </div>
    <p class="article-text-content">
        {{ article.snippet }}
    </p>
</template>
{% endverbatim %}

<script type="text/javascript">
var randomPreviewArticleComponent = Vue.extend({
    template: '#article-random-preview-template',
    data: function() {
        return {
            article: {

            }
        }
    },
    created: function() {
        this.getData()
    },
    methods: {
        getData: function() {
            this.$http.get('articles/preview/').then(
                function(response) {
                    this.$set('article', response.data)
                        // console.log(response.data)
                },
                function(response) {
                    console.log(response)
                });
        }
    },
    filters: {
        formatDate: function(date) {
            return new Date(date).toString().slice(0, 15)
        }
    }
});
</script>