    <div class="list-group">
        <h1><a href="#" class="avatar"><img src="/static/avatars/default.jpg" class="img-responsive center-block"></a></h1>
        <div class="row center-block">
            <div class="col-xs-6">
                <h3><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></h3>
            </div>

            <div class="col-xs-6">
                <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span></h3>
            </div>
        </div>
        <a href="/#/" class="list-group-item">Top 10 Posts</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
        <a href="#" class="list-group-item">Link</a>
    </div>
