<script type="text/template" id="what-to-read-next-template">
    <div class="row related-posts-heading">
        <div class="col-xs-10">
            <h2>What to Read Next</h2></div>
        <div class="col-xs-1">
            <h2><span class="related-posts-discover-btn glyphicon glyphicon-chevron-left" data-page="previous" aria-hidden="true"></span></h2>
        </div>
        <div class="col-xs-1">
            <h2><span class="related-posts-discover-btn glyphicon glyphicon-chevron-right" data-page="next" aria-hidden="true"></span></h2>
        </div>
    </div>
    <div class="row">
        <% _.each(models, function(model, key, list){ %>
            <div class="col-xs-3">
                <div style="background-image:url('<%= model.attributes.hero_image %>');" class="article-header-img-thumbnail"></div>
                <a href="/#/<%= model.attributes.slug %>" role="button">
                    <%= model.attributes.title %>... &raquo;</a>
            </div>
        <% }); %>
    </div>
</script>