<!-- View that shows top 10 blogs -->
<template id="blog-list-view-area" inline-template>
    <h1>Top 10 List</h1>
    <random-preview></random-preview>
    <top-articles></top-articles>
    <recommend-article></recommend-article>
</template>

<!-- View that shows the details of the article -->
<template id="blog-detail-view-area" inline-template>
    <article-detail></article-detail>
    <recommend-article></recommend-article>
</template>

<!-- View that shows search results -->
<template id="blog-search-view-area" inline-template>
    <h1>Top 10 Results</h1>
    <top-articles></top-articles>
    <recommend-article></recommend-article>
</template>